.swiper-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 5;
    background-color: rgba(253, 230, 228, 1.0);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;             
}
.swiper-slide.swiper1 {
    background-image: url(../img/index/swiper1_orn.jpg);
}
.swiper-slide.swiper2 {
    background-image:url(../img/index/swiper2_orn.jpg);
}
.swiper-slide.swiper3 {
    background-image: url(../img/index/swiper3_orn.jpg);

}
.swiper-slide.swiper4 {
    background-image: url(../img/index/swiper4_orn.jpg);
}
.swiper-slide.swiper5 {
    background-image: url(../img/index/swiper5_orn.jpg);
    background-position: center top;
}
.WD .swiper-slide {
    height: 300px;
    background-size: cover;
    background-position: center;             
}
@media screen and (max-width:768px){
    .swiper-slide.swiper1{
        background-image: url(../img/index/swiper1_mb.jpg);    
    }
    .swiper-slide.swiper2{
        background-image: url(../img/index/swiper2_mb.jpg);    
    }
    .swiper-slide.swiper3{
        background-image: url(../img/index/swiper3_mb.jpg);    
    }
    .swiper-slide.swiper4{
        background-image: url(../img/index/swiper4_mb.jpg);    
    }
    .swiper-slide.swiper5{
        background-image: url(../img/index/swiper5_mb.jpg);    
    }

}