/* CONTAINER */
/* PIC */
  .PIC  {
  	width: 100%;
	  height: 100vh;
	  /* background-color: #aaa; */
    margin-bottom: 10px;
    background-image: url(../material/container-pic.jpg);
    background-size: cover;
    background-position: center;
  }
/* DR */
  .DR  {
    width:100%;
    height: 200vh;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
  }
/* DR_top */
  .DR .pic_top  {
  	width: 75%;
  	height: 90vh;
  	/* background-color: #000; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .DR .pic_top .dr_card  {
  	width: 50%;
  	height: 25%;
  	/* background-color: #00f; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .DR .pic_top .dr_card .dr_card1  {
  	width: 50%;
  	height: 100%;
  	/* background-color: #ccc; */
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .DR .pic_top .dr_card .dr_card2  {
  	width: 50%;
  	height: 100%;
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .DR .pic_top .dr_card:nth-child(4n) .dr_card2, .DR .pic_top .dr_card:nth-child(4n+3) .dr_card2{
    border: 2px solid rgb(253,222,207);
    box-sizing: border-box;
  }
  .DR .pic_top .dr_card:nth-child(4n+1) .dr_card2, .DR .pic_top .dr_card:nth-child(4n+2) .dr_card2{
    background-color: rgb(253,222,207);
  }
  .DR .pic_top .dr_card .dr_card1.c1  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/A-line-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c2  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Ballgown-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c3  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Mermaid-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c4  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Sheath-3.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Straight\ Across-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c6  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Square-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c7  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/High\ Neck-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c8  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/V-neck-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .dr_cardT  {
  	width: 60%;
  	height: 20%;
  	/* background-color: #aaa; */
    margin-bottom: 10px;
    font-size: 1.5em;
    margin-bottom:20px; 
    letter-spacing: 10px;
  }
  .dr_cardB  {
  	width: 100%;
  	height: 10%;
    /* background-color: #aaa; */
    font-size: 1em;
    letter-spacing: 5px;
  }
  .dr_cardT,.dr_cardB  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #C69C6D;
  }
/* DR_main */
  .pic_main  {
  	width: 75vw;
  	height: 50vh;
  	/* background-color: #ff0; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .pic_main .pic_mainL  {
  	width: 30%;
  	height: 100%;
  	background-color: #FDDECF;
  	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pic_main .pic_mainL .pic_mainLT  {
  	width: 200px;
  	height: 200px;
  	background-color: #FFFFFF;
  	border-radius: 50%;
  	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .pic_main .pic_mainL .pic_mainLT .pic_mainbtnT,.pic_main .pic_mainL .pic_mainLT .pic_mainbtnB  {
  	width: 50%;
  	height: 20%;
    /* background-color: #aaa; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #C69C6D;
  }
  .pic_main .pic_mainL .pic_mainLT .pic_mainbtnT
  {
    font-size: 2em;
  }
  .pic_main .pic_mainL .pic_mainLT .pic_mainbtnB
  {
    font-size: 1.5em;
  }
  .pic_main .pic_mainL .pic_mainLB  {
  	width: 70%;
  	height: 10%;
    /* background-color: #ccc; */
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #666666;
  }
  .pic_main .pic_mainR  {
  	width: 70%;
  	height: 100%;
    background-color: #ddd;
    background-image: url(../material/pic-mainR.jpg);
    background-size: cover;
    /* background-position: center; */
  }
/* DR_footer */
  .pic_fotter  {
  	width: 75vw;
  	height: 50vh;
  	/* background-color: #ff0; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .pic_fotter .pic_footerT  {
  	width: 100%;
  	height: 30%;
  	/* background-color: #bbb; */
  }
  .pic_fotter .pic_footerM  {
  	width: 100%;
  	height: 50%;
  	/* background-color: #bbb; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .pic_fotter .pic_footerM .pic_fimg  {
  	width: 15%;
  	height: 100%;
    /* border: solid 0.1px; */
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi1  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/V-neck/V-neck-1.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi2  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/V-neck/V-neck-2.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi3  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/V-neck/V-neck-7.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi4  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/V-neck/V-neck-4.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi5  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/V-neck/V-neck-9.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi6  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/V-neck/V-neck-6.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fbtn  {
  	width: 10%;
    height: 100%;
    /* background-color: #bbb; */
  	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .pic_fotter .pic_footerM .pic_fbtn .pic_fbarrow  {
    width: 50%;
    height:20%;
    background-image: url(../element/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerF  {
  	width: 100%;
  	height: 20%;
  	/* background-color: #bbb; */
  }
/* WP */
  .WP  {
    width:100%;
    height: 300vh;
    /* background-color: #aaa; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/* WP_top */
  .WP .wp_top  {
    width: 60vw;
    height: 40vw;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .WP .wp_top .wp_tblock  {
    width: 25%;
    height: 50%;
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .WP .wp_top .wp_tblock .wp_tbtitle  {
    width: 80%;
    height: 10%;
    /* background-color: #aaa; */
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #666666;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg  {
    width: 150px;
    height: 150px;
    background-color: #aaa;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d1  {
    background-image: url(../material/WP/blur-care-close-up-236275.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d2  {
    background-image: url(../material/WP/adults-beautiful-bride-871854.jpg);
    background-size: cover;
    background-position: center top;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d3  {
    background-image: url(../material/WP/beach-clouds-couple-931796.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d4  {
    background-image: url(../material/WP/adult-affection-blur-566456.jpg);
    background-size: cover;
    background-position: center top;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d5  {
    background-image: url(../material/WP/bride-ceremony-daylight-794356.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d6  {
    background-image: url(../material/WP/bouquet-bride-dress-1105159.jpg);
    background-size: cover;
    background-position: center top;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d7  {
    background-image: url(../material/WP/adult-affection-beach-371312.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d8  {
    background-image: url(../material/WP/architecture-background-buildings-933118.jpg);
    background-size: cover;
    background-position: center;
  }
/* WP_main */
  .WP .wp_main  {
    width: 100%;
    height: 50vw;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .WP .wp_main .wp_mtop  {
    width: 100%;
    height: 80%;
    background-color: #ccc;
    background-image: url(../material/WP/architecture-background-buildings-933118.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_main .wp_mbottom  {
    width: 100%;
    height: 20%;
    background-color: #FDE6E0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_mbL  {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_fbR  {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_mbL .wp_fbLbtn  {
    width: 50%;
    height: 30%;
    border: solid 2px #808080;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_fbR .wp_fbRtxt  {
    width: 60%;
    height: 10%;
    font-size: 1em;
    /* background-color: #808080; */
    margin-bottom: 10px;
  }
/* WP_fotter */
  .WP .wp_fotter  {
    width: 75vw;
    height: 100vh;
    /* background-color: #bbb; */
  }
  .WP .wp_fotter .wp_fpic  {
    width: 75vw;
    height: 90vh;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .WP .wp_fotter .wp_fbtn  {
    width: 75vw;
    height: 10vh;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/* WD */
  .WD  {
    width:100%;
    height: auto;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/* WD_top */
  /* .WD .wd_top  {
    width: 75vw;
    height: 60vh;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .WD .wd_top .wd_timg  {
    width: 20%;
    height: 100%;
    background-color: #bbb;
  } */
/* WD_footer */
 .WD .wd_footer  {
    width: 100%;
    height: 180px;
    background-color: rgba(253, 230, 228, 1.0);
    display: flex;
    flex-direction: row;
  }
  .WD .wd_footer .wd_fL  {
    width: 55%;
    height: 100%;
  }
  .WD .wd_footer .wd_fL h2{
    line-height: 180px;
    text-align: center;
  }
  .WD .wd_footer .wd_fR  {
    width: 35%;
    height: 100%;
    padding: 50px 0;
  }
  .WD .wd_footer .wd_fR h3{
    line-height: 40px;
    text-align: left;
  }
  .WD .wd_footer .wd_fR h3:nth-child(2){
    text-align: center;
  }
/* BS */
  .BS  {
    width:100%;
    height: auto;
  }
/* BS_top */
.BS .bs_tpic h4{
  text-align: center;
}  
.BS .bs_tpic div {
    width:180px;
    height: 180px;
    border-radius: 90px;
    background-color: #6ad;
    margin: 40px auto;
    background-size: cover;
    background-position: center;
  }
/* BS_footer */
  .BS .bs_footer  {
    width:100%;
    height: auto;
  }
  .BS .bs_footer .bs_ftop  {
  
    
    margin-bottom: 10px;
  }
  .BS .bs_footer h3  {
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    margin: 20px auto;
    box-sizing: content-box;
    border-left: 2px solid #555 ;
    border-right: 2px solid #555;
  }
  .BS .bs_footer .bs_fmain  {
    width:100%;
    height:600px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }
  .BS .bs_ffooter  {
    width:100%;
    height: 200px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  .BS .bs_ffooter .bs_ffpic{
    width: calc(16.5% - 10px);
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center;
  }
  .BS .bs_ffooter .bs_ffbtn  {
    width:60px;
    height: 100%;
    background-color: #fff;
    padding-left: 14px; 
    position: absolute;
    top: 0;
    right: 0;    
  }
  .BS .bs_ffooter .bs_ffbtn i{
    line-height: 200px;
    text-align: center;
  }
  
/* TP */
  .TP  {
    width:100%;
    height: 100vh;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
  }
  .TP .tp_txt  {
    width: 60vw;
    height: 50vh;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
  }
  .TP .tp_ttop,.TP .tp_tbottom  {
    width: 100%;
    height: 40%;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    margin: 0;
  }
  .TP .tp_ttop .tp_apic  {
    width: 150px;
    height: 150px;
    background-color: #bbb;
    border-radius: 50%;
  }
  .TP .tp_tbottom .tp_atxt  {
    width: 15%;
    height: 10%;
    background-color: #bbb;
  }