/* CONTAINER */
/* PIC */
  .PIC  {
  	width: 100%;
	  height: 100vh;
	  /* background-color: #aaa; */
    margin-bottom: 10px;
    background-image: url(../material/container-pic.jpg);
    background-size: cover;
    background-position: center;
  }
/* DR */
  .DR  {
    width:100%;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
  }
  .container .DR .section_title .section_deco, .container .BS .section_title .section_deco{
    width: calc(50% - 175px);
  }
/* DR_top */
  .DR .pic_top  {
  	width: 75%;
  	height: 90vh;
  	/* background-color: #000; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .DR .pic_top .dr_card  {
  	width: 50%;
  	height: 25%;
  	/* background-color: #00f; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .DR .pic_top .dr_card .dr_card1  {
  	width: 50%;
  	height: 100%;
  	/* background-color: #ccc; */
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .DR .pic_top .dr_card .dr_card2  {
  	width: 50%;
  	height: 100%;
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .DR .pic_top .dr_card:nth-child(4n) .dr_card2, .DR .pic_top .dr_card:nth-child(4n+3) .dr_card2{
    border: 2px solid rgb(253,222,207);
    box-sizing: border-box;
  }
  .DR .pic_top .dr_card:nth-child(4n+1) .dr_card2, .DR .pic_top .dr_card:nth-child(4n+2) .dr_card2{
    background-color: rgb(253,222,207);
  }
  .DR .pic_top .dr_card .dr_card1.c1  {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; */
    background-image: url(../material/DR-pic-top/A-line.jpg);
    background-size: cover;
  }
  .DR .pic_top .dr_card .dr_card1.c2  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Ballgown.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c3  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Mermaid.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c4  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Sheath.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Straight-Across-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c6  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/Square-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c7  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/High-Neck-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .DR .pic_top .dr_card .dr_card1.c8  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url(../material/DR-pic-top/V-neck-2.jpg);
    background-size: cover;
    /* background-position: center; */
  }
  .dr_cardT  {
  	width: 60%;
  	height: 20%;
  	/* background-color: #aaa; */
    margin-bottom: 10px;
    font-size: 1.5em;
    margin-bottom:20px; 
    letter-spacing: 10px;
  }
  .dr_cardB  {
  	width: 100%;
  	height: 10%;
    /* background-color: #aaa; */
    font-size: 1em;
    letter-spacing: 5px;
  }
  .dr_cardT,.dr_cardB  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #C69C6D;
  }
/* DR_main */
  .pic_main  {
  	width: 75vw;
  	/* background-color: #ff0; */
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .pic_main .pic_mainL  {
  	width: 30%;
  	height: 500px;
  	background-color: #FDDECF;
  	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pic_main .pic_mainL .pic_mainLT  {
  	width: 200px;
  	height: 200px;
  	background-color: #FFFFFF;
  	border-radius: 50%;
  	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .pic_main .pic_mainL .pic_mainLT .pic_mainbtnT,.pic_main .pic_mainL .pic_mainLT .pic_mainbtnB  {
  	width: 50%;
  	height: 20%;
    /* background-color: #aaa; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #C69C6D;
  }
  .pic_main .pic_mainL .pic_mainLT .pic_mainbtnT
  {
    font-size: 2em;
  }
  .pic_main .pic_mainL .pic_mainLT .pic_mainbtnB
  {
    font-size: 1.5em;
  }
  .pic_main .pic_mainL .pic_mainLB  {
  	width: 70%;
  	height: 10%;
    /* background-color: #ccc; */
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #666666;
  }
  .pic_main .pic_mainR  {
  	width: 70%;
  	height: 500px;
    background-color: #ddd;
    background-image: url(../material/pic-mainR.jpg);
    background-size: cover;
    /* background-position: center; */
  }
/* DR_footer */
  .pic_fotter  {
    width: 75vw;
    overflow: hidden;
    position: relative;
    margin: 150px 0;
  	/* background-color: #ff0; */
  }
  .pic_fotter .pic_footerM  {
  	width: auto;
  	height: 200px;
  	/* background-color: #bbb; */
  	display: flex;
    flex-direction: row;
    align-items: center;
  }
  .pic_fotter .pic_footerM .pic_fimg  {
  	width: 150px;
  	height: 100%;
    /* border: solid 0.1px; */
   flex: 0 0 150px;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi1  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_2.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi2  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_3.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi3  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_4.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi4  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_5.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi5  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_6.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi6  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_7.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi7  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_8.jpg);
    background-size: cover;
    background-position: center;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi8  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_9.jpg);
    background-size: cover;
    background-position: center top;
    overflow: hidden;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi9  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_10.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi10  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_11.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi11  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_12.png);
    background-size: cover;
    background-position: center top;
    overflow: hidden;
  }
  .pic_fotter .pic_footerM .pic_fimg.bgi12  {
    background-color: #ddd;
    background-image: url(../material/DR-footer-img/A-line/01_14.jpg);
    background-size: cover;
    background-position: center top;
    overflow: hidden;
  } 
  .pic_fotter .pic_fbtn  {
  	width: 60px;
    height: 200px;
    /* background-color: #bbb; */
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
    background-color: #fff;
    padding-top: 75px;
  }
  .pic_fotter .pic_fbtn .pic_fbarrow  {
    width: 40px;
    height:50px;
    background-image: url(../element/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
  }
  .unfold{
    overflow-x: scroll;
  }
/* WP */
  .WP  {
    width:100%;
    /* background-color: #aaa; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/* WP_top */
  .WP .wp_top  {
    width: 80vw;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .WP .wp_top .wp_tblock  {
    width: 25%;
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .WP .wp_top .wp_tblock .wp_tbtitle  {
    width: 80%;
    height: 10%;
    /* background-color: #aaa; */
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #666666;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .WP .wp_top .wp_tblock .wp_tbimg  {
    width: 150px;
    height: 150px;
    background-color: #aaa;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-bottom: 50px;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d1  {
    background-image: url(../material/WP/01-與你到遠方/01_5.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d2  {
    background-image: url(../material/WP/02-華麗年代復刻/02_3.jpg);
    background-size: cover;
    background-position: center top;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d3  {
    background-image: url(../material/WP/03-愛在希臘黎明時/03_8.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d4  {
    background-image: url(../material/WP/04-愛麗絲仙境森林/04_4.jpg);
    background-size: cover;
    background-position: center top;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d5  {
    background-image: url(../material/WP/05-戀戀英倫皇家/05_1.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d6  {
    background-image: url(../material/WP/06-普羅旺斯田園/06_4.jpg);
    background-size: cover;
    background-position: center top;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d7  {
    background-image: url(../material/WP/07-相約維多莉亞港/07_1.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_top .wp_tblock .wp_tbimg.d8  {
    background-image: url(../material/WP/08-愛在巴黎日落時/08_3.jpg);
    background-size: cover;
    background-position: center;
  }
/* WP_main */
  .WP .wp_main  {
    width: 100%;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .WP .wp_main .wp_mtop  {
    width: 100%;
    height: 500px;
    background-color: #ccc;
    background-image: url(../material/WP//08-愛在巴黎日落時/08_3.jpg);
    background-size: cover;
    background-position: center;
  }
  .WP .wp_main .wp_mbottom  {
    width: 100%;
    height: 200px;
    background-color: #FDE6E0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_mbL  {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_fbR  {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_mbL .wp_fbLbtn  {
    width: 50%;
    height: 30%;
    border: solid 2px #808080;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .WP .wp_main .wp_mbottom .wp_fbR .wp_fbRtxt  {
    width: 60%;
    height: 10%;
    font-size: 1em;
    /* background-color: #808080; */
    margin-bottom: 10px;
  }
/* WP_fotter */
  .WP .wp_fotter  {
    width: 100%;
    height: 80vh;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;

  }
  .WP .wp_fotter .wpLeft,.WP .wp_fotter .wpMiddle,.WP .wp_fotter .wpRight  {
    width: 100%;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow: hidden; */
  }
  .WP .wp_fotter .wpLeft .wp_fpic1
  {
    width: 100%;
    height: 350px;
    background-image: url(../material/WP/lightbox/01.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpLeft .wp_fpic2
  {
    width: 100%;
    height: 250px;
    background-image: url(../material/WP/lightbox/02.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpLeft .wp_fpic3
  {
    width: 100%;
    height: 400px;
    background-image: url(../material/WP/lightbox/03.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpLeft .wp_fpic4
  {
    width: 100%;
    height: 250px;
    background-image: url(../material/WP/lightbox/04.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpLeft .wp_fpic5
  {
    width: 100%;
    height: 600px;
    background-image: url(../material/WP/lightbox/19.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpMiddle .wp_fpic1
  {
    width: 100%;
    height: 250px;
    background-image: url(../material/WP/lightbox/06.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpMiddle .wp_fpic2
  {
    width: 100%;
    height: 300px;
    background-image: url(../material/WP/lightbox/20.jpg);
    background-size: cover;
    background-position:center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpMiddle .wp_fpic3
  {
    width: 100%;
    height: 440px;
    background-image: url(../material/WP/lightbox/08.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpMiddle .wp_fpic4
  {
    width: 100%;
    height: 250px;
    background-image: url(../material/WP/lightbox/09.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpMiddle .wp_fpic5
  {
    width: 100%;
    height: 350px;
    background-image: url(../material/WP/lightbox/10.jpg);
    background-size: cover;
    background-position: left;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpMiddle .wp_fpic6
  {
    width: 100%;
    height: 250px;
    background-image: url(../material/WP/lightbox/21.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpRight .wp_fpic1
  {
    width: 100%;
    height: 350px;
    background-image: url(../material/WP/lightbox/11.jpg);
    background-size: cover;
    background-position: left;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpRight .wp_fpic2
  {
    width: 100%;
    height: 350px;
    background-image: url(../material/WP/lightbox/12.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpRight .wp_fpic3
  {
    width: 100%;
    height: 400px;
    background-image: url(../material/WP/lightbox/13.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpRight .wp_fpic4
  {
    width: 100%;
    height: 300px;
    background-image: url(../material/WP/lightbox/14.jpg);
    background-size: cover;
    background-position: right;
    margin-bottom: 10px;
  }
  .WP .wp_fotter .wpRight .wp_fpic5
  {
    width: 100%;
    height: 450px;
    background-image: url(../material/WP/lightbox/15.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  /* .WP .wp_fotter .wp_fbtn  {
    width: 75vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } */
/* WD */
  .WD  {
    width:100%;
    height: auto;
    /* background-color: #bbb; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/* WD_footer */
 .WD .wd_footer  {
    width: 100%;
    height: 180px;
    background-color: rgba(253, 230, 228, 1.0);
    display: flex;
    flex-direction: row;
  }
  .WD .wd_footer .wd_fL  {
    width: 55%;
    height: 100%;
  }
  .WD .wd_footer .wd_fL h2{
    line-height: 180px;
    text-align: center;
    color: #444;
  }
  .WD .wd_footer .wd_fR  {
    width: 35%;
    height: 100%;
    padding: 50px 0;
  }
  .WD .wd_footer .wd_fR h3{
    line-height: 40px;
    text-align: left;
    color: #444;
  }
  .WD .wd_footer .wd_fR h3:nth-child(2){
    text-align: center;
  }
/* BS */
  .BS  {
    width:100%;
    height: auto;
  }
/* BS_top */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border: none;
  text-decoration: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
  border: none;
}
.BS .bs_tpic h4{
  text-align: center;
  color: #444;
}  
.BS .bs_tpic div {
    width:180px;
    height: 180px;
    border-radius: 90px;
    background-color: #6ad;
    margin: 40px auto;
    background-size: cover;
    background-position: center;
  }
/* BS_footer */
  .BS .bs_footer  {
    width:100%;
    height: auto;
  }
  .BS .bs_footer .bs_ftop  {
    margin-bottom: 10px;
  }
  .BS .bs_footer h3  {
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    margin: 20px auto;
    box-sizing: content-box;
    color: #444;
    border-left: 2px solid #555 ;
    border-right: 2px solid #555;
  }
  .BS .bs_footer .bs_fmain  {
    width:100%;
    height:600px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }
  .BS .bs_ffooter  {
    width:100%;
    height: 200px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  .BS .bs_ffooter .bs_ffpic{
    width: calc(16.5% - 10px);
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center;
  }
  .BS .bs_ffooter .bs_ffbtn  {
    width:60px;
    height: 100%;
    background-color: #fff;
    padding-left: 14px; 
    position: absolute;
    top: 0;
    right: 0;    
  }
  .BS .bs_ffooter .bs_ffbtn i{
    line-height: 200px;
    text-align: center;
  }
  
/* TP */
  .TP  {
    widows: 100vw;
    height: 100vh;
    /* background-color: #bbb; */
  }
  .TP .tp_txt  {
    width: 100%;
  }
  .TP .tp_txt .tp_atxt .tp_apic  {
    width: 180px;
    height: 180px;
    background-color: #bbb;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  .TP .tp_txt .tp_atxt h4{
    width: 120px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin: 20px auto;
    color: #444;
  }
  .flip-container {
    width: 180px;
    height: 180px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
  }
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }  
  .front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }  
  .front {
    z-index: 2;
  }  
  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }